output/
log.txt
__pycache__/
*.py[cod]
AdelaiDet.egg-info/
build/
*.so
*.pth

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
AdelaiDet.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~
